/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/bin/
/composer.phar

/.idea*
/app/AppCache.php
/app/AppKernel.php
/app/autoload.php
/app/.htaccess
/composer.lock
/web/config.php
/web/app.php
/web/app_dev.php
/web/.htaccess
/web/vendor/*
/web/fonts/*
/web/robots.txt
/web/favicon.ico
/web/apple-touch-icon.png
/src/.htaccess
!bin/chat_server.php
